body{
    height:100vh;
    display:flex;
    flex-direction: column;
    padding:0%;
    margin:0%;
}

#bloque1 {
    height: 20%;
    background-color: aqua;

}

#bloque2 {
    height: 80%;
    background-color: red;

}
